.result{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.result-answers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    padding: 20px;
}
.result-messages{
    height: 95%;
    width: 90%;
    max-height: '70vh';
    overflow-y: 'auto' ;
}
.result-input{
    position: relative;
    display: flex;
    flex-direction:  row;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 90%;

}
.result-sources {
    height: 600px;
    width: 320px;
}